server:
  port: 10010
  servlet:
    context-path: /api


spring:
  application:
    name: Gateway
  main:
    web-application-type: reactive
  data:
    redis:
      database: 15
      host: localhost
      port: 6379
      timeout: 50000
      password: e65K4t8w2
      lettuce:
        pool:
          min-idle: 4
          max-idle: 8
          max-active: 8
          max-wait: 5000ms

  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848
        username: nacos
        password: nacos

    gateway:
      server:
        webflux:
          httpclient:
            connect-timeout: 600000
            response-timeout: 600000
          globalcors:
            add-to-simple-url-handler-mapping: true
            cors-configurations:
              '[/**]':
                allowedOrigins:
                  - "http://localhost:10010"
                  - "http://localhost:8080"
                allowedMethods:
                  - "GET"
                  - "POST"
                  - "PUT"
                  - "DELETE"
                  - "PATCH"
                  - "OPTIONS"
                allowedHeaders: "*"
                allowCredentials: true
                maxAge: 36000
          routes:
            - id: UserService
              uri: lb://UserService
              predicates:
                - Path=/api/user/**
            - id: VideoActionService
              uri: lb://VideoActionService
              predicates:
                - Path=/api/video/**
            - id: SearchSyncService
              uri: lb://SearchSyncService
              predicates:
                - Path=/api/search/**