/* 主题色 */
/* :root {
    --el-color-primary: var(--main-color);
    --el-color-primary-light-3: var(--v_brand_blue_thin);
    --el-color-primary-light-5: var(--Pi3);
    --el-color-primary-light-7: var(--line_regular);
    --el-color-primary-light-8: var(--Pi1);
    --el-color-primary-light-9: var(--line_regular);
    --el-color-primary-dark-2: var(--Pi7);
} */

/* 对话框相关 */
.el-dialog {
    position: relative;
    width: initial;
    border-radius: 4px;
}

.el-dialog__headerbtn {
    z-index: 3000;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
}

.el-dialog__close {
    font-size: 20px !important;
}

.el-dialog__body {
    position: relative;
    width: 100%;
    height: 100%;
}

/* 消息盒子相关 */
.el-message-box {
    padding-bottom: 15px;
}

/* 文字提示相关 */
.el-popper.is-dark {
    padding: 6px 12px !important;
    border: none !important;
    background: hsla(0, 0%, 8%, .8);
}

.el-button {
    outline: none !important;
}