server:
  port: 8100
  servlet:
    context-path: /api

spring:
  application:
    name: RealtimeService
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
  data:
    redis:
      database: 15
      host: localhost
      port: 6379
      timeout: 50000
      password: e65K4t8w2
      lettuce:
        pool:
          min-idle: 4
          max-idle: 8
          max-active: 8
          max-wait: 5000ms


rocketmq:
  name-server: localhost:9876
  producer:
    group: tianmu-producer-group
  consumer:
    group: tianmu-consumer-group


netty:
  port: 9101